---
import Layout from '../layouts/Layout.astro';
import background from '../images/background.jpg'
import kdtraining from '../images/kdtraining.jpg';
import group from '../images/group.jpg'
import Card from '../components/Card.astro';
import edan from '../images/edan.jpg'
import screenshot1 from '../images/screenshot1.jpg'
import screenshot2 from '../images/screenshot2.jpg'




---


<Layout title="Noelani's Portfolio">
	<main>

		<div class="content">

            <a href = "/"><span>&larr;</span> Homepage</a>

			<h1 class = "name text-gradient">Noelani West</h1>                        

            <h2>A day in the life of a Prime student</h2>
                <div class = "project-1">
                    <div class="project-1-description">
                        <h3>Shopping Cart Group Project Using React</h3><br/>
						<h4>Oct/21/2022</h4>
                            <p>This is a Prime Academy group project. Four fullstack engineering students 
								created a shopping list web application.

								This web application is able to input new items into 
								the existing database, with their corresponding quantity and units. 
								The web application also had the features to mark items as purchased, 
								remove individual items from the list, and clear the entire items in the list.
								
								The group of students worked on pair coding and organizing 
								of equal work. Students also worked together remotely to plan 
								and review several pull requests. Lastly, the students focused 
								on AXIOS methodology using GET, PUT, POST, and DELETE requests to 
								communicate between the server and client.
                        </p>
                            
                        <Card 
                        href="https://github.com/noelani-rose/group-fs-react-shopping-list-pod2"
                        title="Github"/>
                    </div>

                    <div class="project-pic">
                        <img src = {group} class = "kd-training"/>
                    </div>
                </div>

                <div class="project-2">
					
                    <div class="project-2-description">
                        <h3>He's at it again...</h3><br/>
						<h4>Oct/22/2022</h4>
                            <p>
								Sometimes he just gets in a mood, ya know
                            </p>
                            <Card 
                            href="https://github.com/noelani-rose/weekend-movie-sagas"
                            title="Full Vid"/>                
                    </div>
                    <div class="project-pic">
                        <img src = {edan} class = "kd-training"/>
                    </div>
                </div>


                <div class="project-3">
                    <div class="project-3-description">
                        <h3>Introduction to ReactJs</h3><br/>
                            <p>
                                We've started working with React, so have been doing a lot of work
                                with components and code organization. I never knew organizing code 
                                could be so satisfying and therapeutic... 
                            </p>
                            <Card 
                            href="https://github.com/noelani-rose/noelani-weekend-redux-feedback-loop"
                            title="Github"/>  
                            <Card 
                            href="https://github.com/noelani-rose/noelani-weekend-redux-feedback-loop"
                            title="Read Full Post"/>              
                    </div>

                    <div class="project-pic">
                        <img src = {screenshot1} class = "screenshot1"/>
                        <img src = {screenshot2} class = "screenshot2"/>
                    </div>
                </div>
            <br/>
 

	</div>
		<img src = {background} class = "background-pic"/>
        

	</main>
	
</Layout>

<style>

	.content {
	display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    background-color: rgba(244, 243, 243, 0.949);
    align-items: center;
    border-radius: 1px solid black;
    width: 80%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
	}

    .content a {
        text-align: left;
        font-size: 22px;
        font-weight: bolder;
		text-decoration: none;
		line-height: 1;
		padding: 1rem 1.3rem;
		border-radius: 0.35rem;
		opacity: 0.8;
		background-size: 400%;
        background-position: 0;
		background-position: 100%;
    }



    .project-1, .project-3{
        display: flex;
        gap: 50px;
    }

    .project-2 {
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        margin-bottom: 60px;
    }

    .project-1-description {
        width: 480px;
    }
   .project-2-description {
        width: 480px;

    }

    .project-3-description {
        width: 480px;
    }

	h2 {
        margin-bottom: 40px
	}

    .kd-training{
        /* position: absolute; */
        z-index: 1;
        height: 450px;
        margin-bottom: 100px;
        flex-basis: 40%;
    }

    .screenshot1, .screenshot2 {
        width: 280px;
        height: 400px;
    }

    /* .movies-list{
        width: 300px;
    } */

	.background-pic {
		position: relative;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
		height: 800px;
		margin: 0;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		z-index: 1;
		margin: auto;
		padding: 2.5rem;
	}

	.name {
		z-index: 1;
		text-align: center;
  		-webkit-text-stroke-width: 0.6px; 
		letter-spacing: 0.3ch;
 		 -webkit-text-stroke-color: black;
		font-size: 3rem;
		font-weight: 800;

	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}


</style>
